# Python
__pycache__/
*.pyc
.venv/
venv/

# Editor / OS
.vscode/
.idea/
.DS_Store

# FAST-LIVO / 大文件输出
PCD/
*.pcd
*.ply
*.bag
*.db3
*.obj
*.stl
*.npy
*.npz

# 本仓库输出
outputs/
Log/

# 保留目录结构
!outputs/.gitkeep
